<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FLUXO ADMIN</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://kit.fontawesome.com/16d4885483.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      padding: 20px;
  }

  h1 {
      color: #333;
  }

  p {
      color: #666;
      margin-bottom: 20px;
  }

  button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  button:hover {
      background-color: #b30000;
  }
</style>


  <h1>Error Page Admin</h1>
  <p>An error occurred.</p>
  <button onclick="godashboard()">Go to Login Page</button>
</body>
  <script>
      function godashboard() {
          window.location.href = "/admin/login";
      }
  </script>
</body>
</html>

